@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

/***
Dark Green: #0c946c
Regular Green: #0dac7c
Light Green: #14bc84
***/

html, body {
    color: #333;
    font-size: 16px;
    height: 100%;
}

.btn.btn-primary {
    background-color: #14bc84;
    border-color: #14bc84;
}

.jumbotron {
    background-color: #14bc84;
    background: linear-gradient(
        0deg,
        rgba(20,188,132,0.3),
        rgba(20,188,132,0.3)
    ), url(../images/hero-image-05.jpg);
    background-position: 0 30%;
    background-size: cover;
    color: #eee;
    letter-spacing: .06em;
}

.page-header {
    border-top: 4px solid #0c946c;
    height: 3.75rem;
}

.page-footer {
    background-color: #0c946c;
    color: #fff;
}

.brand .primary-logo {
    max-width: 35px;
    margin-right: 5px;
    vertical-align: middle;
}

.brand .wordmark {
    color: #0c946c;
}

.section-header .col {
    margin-bottom: 1rem;
}

.section-header h3 {
    color: #0c946c;
    font-weight: bold;
    text-transform: uppercase;
}

.section-content {
    margin-bottom: 3rem;
}

.section.features dl dt {
    border-bottom: 1px solid #eee;
    line-height: 30px;
}

    .section.features dl dt svg {
        color: #0c946c;
        vertical-align: middle;
    }

@media (max-width: 576px) {
    .jumbotron .display-4 {
        font-size: 2.2rem;
    }
}
